# Maven
target/
.mvn/timing.properties

# IDEs
.idea/
*.iml
.vscode/
*.classpath
*.project
.settings/

# OS
.DS_Store
Thumbs.db

# Logs
*.log

# OWASP reports
dependency-check-report.*

# Runtime
*.pid
